<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="yandex-verification" content="5b8c2fe66171a3aa" />
    <meta name="google-site-verification" content="PWz4KOJmqnFCrY8b7ch7m3bzuK2J9aOSvmtZfT33uTM" />
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ "css/navbar.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "css/main.css" | relative_url }}">
  </head>
  <main>
  <body>
    {% include nav.html %}
    {{ content }}
    {% include postlist.html %}
  </body>
    {% include footer.html %}
  </main>
</html>
